*{
  box-sizing: border-box;
  outline: none !important;
  margin: 0;
  padding: 0;
  box-shadow: none;
}

#omniSearchBox {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #fff;
  z-index: 9999999999999999;
  padding: 2em;
  /* height: 50px; */
}

#omniSearchBox input {
  border: 0;
  height: 50px;
  z-index: 99999999999;
}

#stateOption, #cityOption, #distanceOption {
  width: 100%;
  clear: both;
}

.icon-btn {
  background-color: #fff;
  padding: 0;
  height: 50px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
