*{
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
}

#omniSearchBox {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #fff;
  z-index: 9999999999999999;
  padding: 0.2em 1em;
}

#omniSearchBox input {
  border: 0;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
